@keyframes text-show
  0% 
    transform translateY(40px)
    opacity 0
  25%  
    transform translateY(40px)
    opacity 0
  100%  
    transform translateY(0px)
    opacity 1

@keyframes text-show-right 
  0% 
    transform translate3d(40px, 40px, 0)
    opacity 0
  25% 
    transform translate3d(40px, 40px, 0)
    opacity 0
  100% 
    transform none
    opacity 1

@keyframes text-show-left 
  0% 
    transform translate3d(-40px, 40px, 0)
    opacity 0
  25% 
    transform translate3d(-40px, 40px, 0)
    opacity 0
  100% 
    transform none
    opacity 1