
.main-div
  padding 1rem
  border-radius 5px
  border solid 1px transparent
  background-color #fff
  transition: all .4s ease;
  &:hover 
    box-shadow: 0 0 15px 1px #B5B5B5;
    transform: translateY(-3px);


