@require "./variables";

@media screen and (max-width: 780px) {
  /* navbar */
  .header-container {
    .title {
      h1 {
        font-size: 3rem !important;
      }
    }
    .navbar {
      ul {
        display: block;
        display: flex;
        width: 50%;
        justify-content: center;
        position: absolute;
        top: 50px;
        right: 20px;
        flex-direction: column;
        background: $navbarColor;
        border-radius: 2px;
        animation: fadeInDown .4s;
        li {
          cursor: pointer;
          &:hover {
            color: $accentColor !important;
          }
          font-size: 14px !important;
          display: block;
          color: #777 !important;
          text-align: center;
        }
      }
      .open {
        display: none !important;
      }
      #nav-icon1 {
        display: block !important;
      }
      /* nav open animation */
      @keyframes fadeInDown {
        0% {
          transform: translate3d(1%, -20%, 0);
          opacity: 0;
        }
        100% {
          transform: none;
          opacity: 1;
        }
      }
    }
  }
}